repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
      - id: seed-isort-config
        name: Seed isort
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=100, --target-version=py38]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: end-of-file-fixer
        exclude: ^.bumpversion.cfg
      - id: trailing-whitespace
        exclude: ^.bumpversion.cfg
  - repo: https://github.com/python-poetry/poetry
    rev: "1.2.2"
    hooks:
      - id: poetry-check
      - id: poetry-lock
  # Disabling Mypy temporarily due to abundant Type Annotations warnings
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: "v0.991"
  #   hooks:
  #     - id: mypy
  #       name: Lint core with mypy
  #       files: ^dbt_coves/
  #       entry: mypy dbt_coves/
  #       pass_filenames: false
  #       args: [--ignore-missing-imports, --python-version=3.7]
  #       additional_dependencies:
  #         [
  #           "typing_extensions>=4.0",
  #           "types-PyYAML>=5.4.1",
  #           "types-requests>=2.28.11.5",
  #           "types-python-slugify==7.0.0.0",
  #         ]
  - repo: https://github.com/PyCQA/isort
    rev: "5.8.0"
    hooks:
      - id: isort
        name: Sort import with isort
        args: ["-m3", "-w 100", "--tc"]
        # exclude: ^tests/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.3.1"
    hooks:
      - id: prettier
        exclude: ^dbt_coves/templates/
  - repo: https://github.com/PyCQA/flake8
    rev: "3.9.2"
    hooks:
      - id: flake8
        exclude: ^tests/
        additional_dependencies: [flake8-docstrings]
        args:
          [
            "--max-line-length=120",
            "--ignore=D102,D104,D401,D400,D107,W503,D100,D101,D103,D200,D205",
          ]
