[tool.poetry]
name = "dbt_coves"
version = "0.21.0-a.2"
description = "CLI tool for dbt users adopting analytics engineering best practices."
authors = ["Datacoves <hello@datacoves.com>"]
license = "Apache 2.0"
readme = "README.rst"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Information Technology",
    "Topic :: Software Development :: Build Tools",
    "Topic :: Software Development :: Code Generators",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
]
include = ["templates/*"]
keywords = ["data engineering", "analytics engineering", "dbt", 'ETL', "data modelling"]
homepage = "https://datacoves.com"
documentation = "https://datacoves.gitbook.io/dbt-coves/"
repository = "https://github.com/datacoves/dbt-coves"

[tool.poetry.dependencies]
python = ">=3.7,<3.9"
luddite = "^1.0.1"
packaging = "^20.8"
pretty-errors = "^1.2.19"
pydantic = "^1.8"
PyYAML = "^5.4.1"
questionary = "^1.9.0"
yamlloader = "^1.0.0"
pyfiglet = "^0.8.post1"
click = "^7.1.2"
sqlfluff = "^0.7.0"
pre-commit = "^2.15.0"
rich = "^10.4.0"
dbt = ">=0.18.0"
Jinja2 = "~2.11.2"
cookiecutter = "^1.7.3"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
pytest-cov = "^2.12.1"
mypy = "^0.910"
towncrier = "^21.3.0"
pytest-mock = "^3.6.1"
pytest-sugar = "^0.9.4"
pytest-datafiles = "^2.0"
tox-poetry-installer = "^0.8.0"
tox = "^3.23.1"
asciinema = "^2.0.2"
pytest-dictsdiff = "^0.5.8"
black = "^21.5b1"
ipdb = "^0.13.9"
sphinx-argparse = "^0.2.5"
sphinxcontrib-restbuilder = "^0.3"

[build-system]
requires = ["setuptools", "poetry_core>=1.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
dbt-coves="dbt_coves.core.main:main"

[tool.towncrier]
version = "0.21.0-a.2"
package = "dbt_coves"
package_dir = "dbt_coves/"
filename = "changelog/CHANGELOG.md"
directory = "changelog/"
start_string = "# Changelog\n"
issue_format = "[#{issue}](https://github.com/datacoves/dbt-coves/issues/{issue})"
underlines = ["", ""]
template = "changelog/.towncrier.template.md"
title_format = "## dbt-coves [{version}] - {project_date}"



    [[tool.towncrier.type]]
    directory = "fix"
    name = "Bug Fixes"
    showcontent = true


    [[tool.towncrier.type]]
    directory = "feature"
    name = "Features"
    showcontent = true

    [[tool.towncrier.type]]
    directory = "misc"
    name = "Under The Hood/Misc"
    showcontent = true

[tool.pytest.ini_options]
markers = ["datafiles"]
