# Generate sources --metadata
METADATA_FILE=""

# Redshift
HOST_REDSHIFT=""
DATABASE_REDSHIFT=""
USER_REDSHIFT=""
PASSWORD_REDSHIFT=""
SCHEMA=""
TABLE=""

# Snowflake
PROJECT_DIR_SNOWFLAKE=""
USER_SNOWFLAKE=""
PASSWORD_SNOWFLAKE=""
ACCOUNT_SNOWFLAKE=""
WAREHOUSE_SNOWFLAKE=""
ROLE_SNOWFLAKE=""
DATABASE_SNOWFLAKE=""
SCHEMA_SNOWFLAKE=""
TABLE_SNOWFLAKE=""

# BigQuery

SERVICE_ACCOUNT_GCP=""
PROJECT_DIR_BIGQUERY=""
PROJECT_BIGQUERY=""
DATASET_BIGQUERY=""
TABLE_BIGQUERY=""