# Generate sources --metadata
METADATA_FILE=""

# Redshift
PROJECT_DIR_REDSHIFT=""
HOST_REDSHIFT=""
USER_REDSHIFT=""
PASSWORD_REDSHIFT=""
DATABASE_REDSHIFT=""
SCHEMA_REDSHIFT=""
TABLE_REDSHIFT=""

# Snowflake
PROJECT_DIR_SNOWFLAKE=""
USER_SNOWFLAKE=""
PASSWORD_SNOWFLAKE=""
ACCOUNT_SNOWFLAKE=""
WAREHOUSE_SNOWFLAKE=""
ROLE_SNOWFLAKE=""
DATABASE_SNOWFLAKE=""
SCHEMA_SNOWFLAKE=""
TABLE_SNOWFLAKE=""

# BigQuery
SERVICE_ACCOUNT_GCP=""
SERVICE_ACCOUNT_GCP_PATH=""
PROJECT_DIR_BIGQUERY=""
PROJECT_BIGQUERY=""
DATASET_BIGQUERY=""
TABLE_BIGQUERY=""