files: ^{{ dbt_project_dir }}/models/

repos:
{% if use_dbt_checkpoint %} - repo: https://github.com/dbt-checkpoint/dbt-checkpoint
    rev: v1.2.0

        hooks:
            - id: check-source-table-has-description
            - id: check-script-semicolon
            - id: check-script-has-no-table-name
            - id: check-script-ref-and-source
            - id: check-model-has-description
            - id: check-model-has-properties-file
            - id: check-model-has-all-columns
{% endif %}
{% if use_sqlfluff %} - repo: https://github.com/sqlfluff/sqlfluff
# this is the version of sqlfluff, needs to be updated when using a new sqlfluff version (pip show sqlfluff)
    rev: 2.3.2
        hooks:
            - id: sqlfluff-lint
            language: python
# Need these two dependencies.
# sqlfluff-templater-dbt should match the version of sqlfluff above in rev (pip show sqlfluff-templater-dbt)
# dbt-snowflake needs to match the version in {{ dbt_project_dir }} tab of Datacoves (pip show dbt-snowflake)
            additional_dependencies:
            ["sqlfluff-templater-dbt==2.3.2", "dbt-snowflake==1.6.2", "dbt-core==1.6.9"]
            args: [--config, {{ dbt_project_dir }}/.sqlfluff]{% endif %}

{% if use_yamllint %} - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.17.0
        hooks:
            - id: yamllint
            args: [-c=.yamllint]
            exclude: ^{{ dbt_project_dir }}/.dbt_coves/templates
{% endif %}
