name: Publish new PyPi build version

on:
  push:
    branches:
      - main
    paths:
      - dbt_coves/*
      - dbt_coves/**/*

  workflow_dispatch:
    inputs:
      bumpType:
        description: Bump type
        required: true
        default: patch
        type: choice
        options:
          - major
          - minor
          - patch

jobs:
  publish:
    name: PyPi Publishing
    runs-on: ubuntu-latest
    env:
      POETRY_HTTP_BASIC_USERNAME: ${{ secrets.POETRY_HTTP_BASIC_USERNAME }}
      POETRY_HTTP_BASIC_PASSWORD: ${{ secrets.POETRY_HTTP_BASIC_PASSWORD }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout branch
        uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install Poetry
        uses: Gr1N/setup-poetry@v7

      - name: Install Dependencies using Poetry
        run: poetry install
        if: steps.cache.outputs.cache-hit != 'true'

      - name: Configure poetry PyPi connection
        run: poetry config http-basic.pypi $POETRY_HTTP_BASIC_USERNAME $POETRY_HTTP_BASIC_PASSWORD

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Release new PyPi build version
        env:
          BUMP_TYPE: ${{ inputs.bumpType }}
        run: "/home/runner/work/dbt-coves/dbt-coves/publish.sh $BUMP_TYPE"

      - name: Github tag and release
        uses: rymndhng/release-on-push-action@v0.28.0
        with:
          bump_version_scheme: "${{ env.BUMP_TYPE }}"
