name: tox ci

on: ["push"]

jobs:
  build:
    runs-on: ${{ matrix.platform }}
    strategy:
      max-parallel: 5
      matrix:
        platform: [ubuntu-latest]
        python-version: [3.7, 3.8]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions pytest tox-poetry-installer poetry

      - name: Test with tox
        run: tox -e py
        env:
          PLATFORM: ${{ matrix.platform }}
